body {
	margin: 0;
	background-color: black;
	font-family: inter;
	text-align: center;
}


.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #1F2937;
}

.upper-part {
	background-color: #6943FF;
	padding: 12px;
	font-family: Inter;
	font-weight: 800;
	font-size: 28px;
	line-height: 38px;
	padding: 24px;
	flex-direction: column;
}

.lower-part {
	background-color: #1F2937;
	padding: 12px;
	font-weight: 600px;
	color: #CCC1FF;

}

.lower-part > div {
background-color: #273549;
padding: 24px;
margin: 2em;
text-align: center;
width:auto;

}

button {
	width: 117px;
	height: 42px; 
	border-radius: 5px;
	margin: 3em;
}

h2 {
	border: 2px solid #B295FF; 
	padding: 2px;
  }
  
h1 {
	font-weight: 400px;
	color: white;
}

input {

	
	background-color: #6943FF;
	
	border: 2px solid #B295FF;
	border-radius: 5px;
	font-size: 58px;
	text-align: center;
	color: white;
width: 115px;
height: 83px;
	border-radius: 5px;
	border-width: 2px;
}

